<div class="container-fluid">
  <div class="top_footer">
    <div class="footer-nav">
      <nav class="footer_sub_nav">
        <ul class="menu">
          <li><a href="https://aquera.com/">Developer</a></li>
          <li><a href="https://aquera.com/">Dashboard</a></li>
          <li><a href="https://aquera.com/">Craftroom</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="bottom_footer">
    <div class="footer-copyright col-xs-12 col-md-8">
      <p class="copyright">
        Copyright &copy; {{ site.time | | date: '%Y'}} Aquera Inc. All rights reserved.
      </p>
    </div>
    <div class="footer_social_nav">
      <ul class="nav-social">
        <li class="fa fa-github"><a href="https://github.com/{{site.gitOrg}}">GitHub</a></li>  
        <li class="fa fa-twitter"><a href="https://twitter.com/AqueraProject">Twitter</a></li>
        <li class="fa fa-facebook"><a href="http://www.facebook.com/pages/Aquera-Project">Facebook</a></li>
      </ul>
    </div>
  </div>
</div>
